@using Core.Application.ViewModels.CreditCard
@using Core.Application.ViewModels.Loans
@using Core.Application.ViewModels.Products
@using Core.Application.ViewModels.SavingsAccount
@model UserProductsViewModels
@{
    ViewData["Title"] = "Home Page";

    double tax = 100 * 0.0625;
}
<div class="container d-flex justify-content-center">
    <div class="row pt-5">

        @if (Model == null || Model.CuentasDeAhorro.Count == 0)
        {
            <h2 class="m-5">No hay Cuentas de ahorro</h2>
            <hr />
        }
        else
        {
            <div class="accordion p-3" id="accordionSavings">
                <h2>Cuentas de ahorro</h2>
                <hr />
                <div class="accordion-item">
                    <h2 class="accordion-header" id="Savings">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSaving" aria-expanded="true" aria-controls="Savings">
                            Disponible
                            $@Model.TotalCuentas
                        </button>
                    </h2>
                    <div id="collapseSaving" class="accordion-collapse collapse" aria-labelledby="Savings" data-bs-parent="#accordionSavings">
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Alias</th>
                                        <th scope="col">Disponible</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (SavingsAccountViewModel item in Model.CuentasDeAhorro)
                                    {
                                        <tr>
                                            <td>
                                                @item.AccountNumber
                                            </td>
                                            <td>
                                                $@item.Amount
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                    }
                    @if (Model == null || Model.TarjetasDeCredito.Count == 0)
                    {
                        <h2 class="m-5">No hay Tarjetas de credito</h2>
                        <hr />
                    }
                    else
                    {
                        <div class="accordion p-3" id="accordionCreditCard">
                            <h2>Tarjetas de credito</h2>
                            <hr />

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="CreditCard">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCard" aria-expanded="true" aria-controls="CreditCard">
                                        <div class="d-flex justify-content-around align-items-center w-100 m-0 p-0">
                                            <p class="m-0 p-0">Total $@Model.TarjetasActual</p>
                                            <p class="m-0 p-0">Balance Disponible $@Model.DisponibleTarjetas</p>
                                            <p class="m-0 p-0">Balance al corte $@Model.TarjetasAlCorte</p>

                                        </div>
                                    </button>
                                </h2>
                     
                                    <div id="collapseCard" class="accordion-collapse collapse" aria-labelledby="CreditCard" data-bs-parent="#accordionCreditCard">
                                        <div class="accordion-body">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Producto</th>
                                                        <th scope="col">Disponible</th>
                                                        <th scope="col">Balance Actual</th>
                                                        <th scope="col">Balance al corte</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (CreditCardViewModel item in Model.TarjetasDeCredito)
                                                    {
                                                        
                                                    <tr>
                                                        <td>
                                                            Tarjeta de Credito - @item.CardNumber
                                                        </td>
                                                        <td>
                                                            $@item.Limit
                                                        </td>
                                                        <td>
                                                            $
                                                            @if (item.Debt == 0)
                                                            {
                                                                @(item.Limit)
                                                            }
                                                            else
                                                            {
                                                                @(item.Limit - (item.Debt - tax))
                                                            }
                                                        </td>
                                                        <td>
                                                            $@item.Debt
                                                        </td>
                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                    }
                    @if (Model == null || Model.Prestamos.Count == 0)
                    {
                        <h2 class="m-5">No hay Prestamos pendientes</h2>
                        <hr />
                    }
                    else
                    {
                        <div class="accordion p-3" id="accordionLoans">
                            <h2>Prestamos pendientes</h2>
                            <hr />
                         
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="Loans">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLoan" aria-expanded="true" aria-controls="Loans">
                                        Deuda Total $@Model.TotalDeudas
                                    </button>
                                </h2>
                                <div id="collapseLoan" class="accordion-collapse collapse" aria-labelledby="Loans" data-bs-parent="#accordionLoans">
                                    <div class="accordion-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Producto</th>
                                                    <th scope="col">Deuda</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (LoansViewModel item in Model.Prestamos)
                                                {
                                                    <tr>
                                                        <td>
                                                            Prestamo- @item.Loan
                                                        </td>
                                                        <td>
                                                            $@item.Debt
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


    </div>
</div>