
@{
    ViewData["Title"] = "beneficiario";
}

<div class="container-fluid">

    <div class="row mb-3">
        <div class="col-3 offset-9">
           <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Crear Nuevo Beneficiario</button>
        </div>
    </div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

     @*<div class="row">

        @if (Model == null || Model.Count == 0)
        {
            <h2>No hay productos</h2>
        }
        else
        {
            @foreach (ProductViewModel item in Model)
            {
                <div class="col-4">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top img-product-size" src="@item.ImageUrl" />

                        <div class="card-body">
                            <h4 class="card-title">@item.Name - @item.CategoryName</h4>
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Editar</a>
                                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Borrar</a>
                                </div>
                                <small class="fw-bold fs-6">$@item.Price</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }*@

    </div>












     
